<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>NewCustomContoroller</display-name>
    <servlet-name>NewCustomContoroller</servlet-name>
    <servlet-class>servlet.NewCustomContoroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCustomContoroller</servlet-name>
    <url-pattern>/NewCustomContoroller</url-pattern>
  </servlet-mapping>
  <display-name>Jimnyst</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>servlet.main</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CustomListController</display-name>
    <servlet-name>CustomListController</servlet-name>
    <servlet-class>servlet.CustomListController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ImgUploadLogic</display-name>
    <servlet-name>ImgUploadLogic</servlet-name>
    <servlet-class>logic.ImgUploadLogic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgUploadLogic</servlet-name>
    <url-pattern>/ImgUploadLogic</url-pattern>
  </servlet-mapping>
</web-app>